[submodule "csmith"]
	path = third_party/csmith
	url = https://github.com/csmith-project/csmith
[submodule "emscripten-fastcomp"]
	path = third_party/emscripten-fastcomp
	url = https://github.com/kripken/emscripten-fastcomp
[submodule "clang"]
	path = third_party/clang
	url = https://github.com/kripken/emscripten-fastcomp-clang
[submodule "emscripten"]
	path = third_party/emscripten
	url = https://github.com/kripken/emscripten
[submodule "third_party\\wasm-spec"]
	path = third_party\\wasm-spec
	url = https://github.com/WebAssembly/spec.git
